extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id))
                        button Edit Video
            h5.video__title=video.title
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
            p.video__description=video.description
            .video__author 
                |Uploaded by 
                .video__author-link
                    a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video__comment
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1 
                    |  comment
            else
                span.video__comment-number
                    span#jsCommentNumber=video.comments.length
                    |  comments
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a comment")
                button Comment
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        img.u-commenter-avatar(src=comment.avatarUrl)
                        div.u-comment
                            a(href=routes.userDetail(comment.creator))=comment.name
                            p=comment.text
                        if loggedUser && comment.creator == loggedUser.id
                            a.delComment(href=routes.deleteComment(video.id,comment.id))
                                button.delCommentBtn#jsDelBtn <i class="far fa-trash-alt"></i>