extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id))
                        button 수정하기
            h5.video__title=video.title
            span.video__views 조회수 #{video.views}회
            .video__author 
                .video__author-avatar
                    a(href=routes.userDetail(video.creator.id))
                        img.u-commenter-avatar(src=video.creator.avatarUrl)
                .video__author-info
                    a(href=routes.userDetail(video.creator.id))=video.creator.name
                    p.video__description=video.description
        .video__comment
            span.video__comment-number
                | 댓글 
                span#jsCommentNumber=video.comments.length
                |개
            form.add__comment#jsAddComment
                if loggedUser
                    input(type="text", placeholder="댓글 추가...")
                else
                    input(type="text", placeholder="로그인 후 댓글 작성 가능" disabled)
                button 댓글
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        a(href=routes.userDetail(comment.creator))
                            img.u-commenter-avatar(src=comment.avatarUrl)
                        div.u-comment
                            div.u-comment-id
                                a(href=routes.userDetail(comment.creator))=comment.name
                                if video.creator.id === String(comment.creator)
                                    span.u-comment-creator 작성자
                                else if loggedUser && String(comment.creator) === loggedUser.id
                                    span.u-comment-me 내 댓글
                            p=comment.text
                        if loggedUser && comment.creator == loggedUser.id
                            a.delComment(href=routes.deleteComment(video.id,comment.id))
                                button.delCommentBtn#jsDelCmtBtn <i class="far fa-trash-alt"></i>