extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id))
                        button 수정하기
            h5.video__title=video.title
            span.video__views 조회수 #{video.views}회
            p.video__description=video.description
            .video__author 
                .video__author-link
                    a(href=routes.userDetail(video.creator.id))=video.creator.name
                | 가 업로드
        .video__comment
            span.video__comment-number
                | 댓글 
                span#jsCommentNumber=video.comments.length
                |개
            form.add__comment#jsAddComment
                input(type="text", placeholder="댓글 추가...")
                button 댓글
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        img.u-commenter-avatar(src=comment.avatarUrl)
                        div.u-comment
                            a(href=routes.userDetail(comment.creator))=comment.name
                            p=comment.text
                        if loggedUser && comment.creator == loggedUser.id
                            a.delComment(href=routes.deleteComment(video.id,comment.id))
                                button.delCommentBtn#jsDelBtn <i class="far fa-trash-alt"></i>