header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
                div
                    span MyTube
        .header__column
            form(action=routes.search, method="get")
                div
                    input(type="text", placeholder="검색", name="term")
                    button
                        i.fas.fa-search
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) 가입
                    li
                        a(href=routes.login) 로그인
                else
                    li
                        a(href=`${routes.videos}${routes.upload}`, alt="abcd")
                            i.fas.fa-video
                    li
                        a(href=routes.logout)
                            i.fas.fa-sign-out-alt
                    li
                        a(href=routes.me)
                            img.u-header-avatar(src=loggedUser.avatarUrl)